.DS_Store
*.gz
*.blg
*.log

*.csv
*.txt
*.eps
*.png
*.html
*.descarga
Tarea4/Analisis/Analysis of Variance (ANOVA) _ Python for Data Science_files/de5ccbb27b14ffd19a9a050d7e2863c9
*.css
*.loaded_0
*.loaded_1
*.svg
*.gif
*.aux
*.bbl
*.dvi
